@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


.welcome {
  height: 100vh;
  width: 100vw;
  background: salmon;
  position: relative;
  overflow: hidden;
  justify-content: center;
  display: flex;
  padding: 40px;
}

.welcome>h1 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 144px;
  left: 46px;
  top: 155px;
  color: rgb(104, 132, 131);
}

.login-register-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 300px;
  padding: 20px 50px;
  background: salmon;
}

.login-register-container>input {
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 10px;
  outline: none;
  margin-bottom: 15px;
  font-size: 18px;
  padding: 5px;
}

.login-register-container>button {
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.sign-in-register-button {
  background: #003166;
  font-size: 20px;
  margin-top: 10px;
  font-family: "Montserrat";
  font-weight: bold;
  color: white;
}

.create-account-button {
  background: none;
  margin-top: 10px;
  color: rgb(92, 3, 3);
  font-size: 16px;
}

.todo-svg {
  position: absolute;
  bottom: 100px;
  right: 300px;
  transform: scale(1.3);
}